.heading{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.para-style{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}